.jfx-button{
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-font-size: 22;
    -fx-font-family: "Roboto Bold";
}

#titletemp{
    -fx-font-size: 22;
    -fx-font-family: "Roboto Bold";
}
#quantTemp{
    -fx-font-size: 18;
    -fx-font-family: "Roboto Bold";
}