.jfx-button{
    -fx-background-color: #FF9800;
    -fx-text-fill: white;
    -fx-font-size: 22;
    -fx-font-family: "Roboto Bold";
}

#titletemp{
    -fx-font-size: 22;
    -fx-font-family: "Roboto Bold";
}

#desctemp{
    -fx-font-size: 18;
    -fx-font-family: "Roboto";
    -fx-fill: #757575;
}
