.jfx-button{
    -fx-text-fill:"#d50000";
    -fx-font-size: 20;
    -fx-font-family: "Roboto Bold";
}

#titletemp{
    -fx-font-size: 22;
    -fx-font-family: "Roboto Bold";
}

#desctemp{
    -fx-font-size: 18;
    -fx-font-family: "Roboto";
    -fx-fill: #757575;
}
